  <header id="detail" class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">{{detail.tagline}}</h1>
        <h2 class="masthead-subheading mb-0">{{detail.subtagline}}</h2>
      </div>
    </div>

  </header>

   <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid"  src="images/detail_1.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">SPECS</h2>
        <ul>
          <li>
            <strong>Price</strong>
            <p>{{detail.spec.price}}</p>
          </li>
            <li>
            <strong>Display</strong>
            <p>{{detail.spec.display}}</p>
          </li>
            <li>
            <strong>Processor</strong>
           <p>{{detail.spec.processor}}</p>
          </li>
        </ul>
            </div>
        </div>
      </div>
    </div>
  </section>

   
  